.Reviews {
  margin: 20px 0;
  overflow: hidden;
  border-radius: 10px;
  /* list-style: circle; */
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  /* &:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
    transition: all 0.4s;
  } */
  padding: 25px 25px 25px 45px;
  /* background-blend-mode: multiply; */
  background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
}
